<div class="row">
    <div class="col-md-6">
        {{block.column_1_image.make()|raw}}
        <h{{block.headline}}>{{block.column_1_name}}</h{{block.headline}}>
        <p>
            {{block.column_1_content |raw}}
        </p>
    </div>
    <div class="col-md-6">
        {{block.column_2_image.make()|raw}}
        <h{{block.headline}}>{{block.column_2_name}}</h{{block.headline}}>
        <p>
            {{block.column_2_content |raw}}
        </p>
    </div>
</div>